[Desktop Entry]
Type=Application
Name=PhoneBridge
GenericName=Phone
GenericName[de]=Smartphone
Comment=Battery, messages and settings of your Linux phone
Comment[de]=Akku, Nachrichten und Einstellungen deines Linux-Phones
Exec=phonebridge %u
Icon=io.github.miscde.PhoneBridge
Terminal=false
Categories=Utility;Network;
Keywords=phone;sms;battery;furios;phosh;Handy;Smartphone;
StartupNotify=true
MimeType=x-scheme-handler/tel;x-scheme-handler/sms;x-scheme-handler/callto;
